{
 "openapi": "3.1.0",
 "info": {
  "title": "InfraNode, offene Stadtdaten Deutschland",
  "version": "1.0.0",
  "description": "Kostenlose, keylose Open-Data-API fuer 84 deutsche Grossstaedte. Standardweg fuer die meisten Datenarten: getCityResource(slug, resource). getCities liefert alle Stadt-Slugs, getCityOverview(slug) den Katalog aller Datenarten mit Abdeckungsstatus."
 },
 "servers": [
  {
   "url": "https://infranode.dev"
  }
 ],
 "paths": {
  "/api/v1/sources": {
   "get": {
    "operationId": "getSources",
    "summary": "Status aller Upstream-Quellen",
    "description": "Listet je bekannter Quelle den enabled-Zustand (aus den Settings) und den Circuit-Breaker-Zustand (CLOSED/OPEN/HALF_OPEN). So ist auf einen Blick sichtbar, welche Quelle gerade liefert und welche pausiert ist.",
    "parameters": [
     {
      "in": "query",
      "name": "page",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "default": 1
      }
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "default": 50
      },
      "description": "Seitengröße. Wird auf MAX_LIMIT (200) gedeckelt: zu große Werte liefern eine 200er-Seite mit 200 Einträgen statt eines Fehlers.",
      "x-description-en": "Page size. Capped at MAX_LIMIT (200): larger values return a 200 page of 200 items instead of an error."
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Ein zu großer Offset liefert eine leere Seite (200), nie 500.",
      "x-description-en": "An offset past the end returns an empty page (200), never 500."
     },
     {
      "in": "query",
      "name": "sort",
      "schema": {
       "type": "string",
       "enum": [
        "source",
        "enabled",
        "license"
       ]
      },
      "description": "Nur die gelisteten Felder sind erlaubt; ein unbekanntes Feld wird mit 400 (invalid_request) abgewiesen, bevor es ausgewertet wird.",
      "x-description-en": "Only the listed fields are allowed; an unknown field is rejected with 400 (invalid_request) before it is evaluated."
     },
     {
      "in": "query",
      "name": "order",
      "schema": {
       "type": "string",
       "enum": [
        "asc",
        "desc"
       ],
       "default": "asc"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/compare": {
   "get": {
    "operationId": "compareCities",
    "summary": "Eine Ressource über mehrere Städte vergleichen",
    "description": "Vergleicht EINE Ressource (resource) über mehrere Städte (cities, kommasepariert) in einer einzigen Antwort.",
    "parameters": [
     {
      "in": "query",
      "name": "cities",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "berlin,koeln,hamburg",
      "description": "Kommaseparierte Stadt-Slugs (auf MAX_CITIES begrenzt).",
      "x-description-en": "Comma-separated city slugs (limited to MAX_CITIES)."
     },
     {
      "in": "query",
      "name": "resource",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "weather",
        "air",
        "indicators",
        "demographics",
        "unemployment",
        "tourism",
        "charging-status",
        "weather-warnings"
       ]
      },
      "description": "Zu vergleichende Ressource; unbekannt -> 400 invalid_request. weather/air = Live-Adapter (DWD/UBA); indicators, demographics, unemployment, tourism, charging-status und weather-warnings delegieren an die jeweiligen Stadt-Endpunkte (identisches Verhalten inkl. Attribution).",
      "x-description-en": "Resource to compare; unknown -> 400 invalid_request. weather/air = live adapters (DWD/UBA); indicators, demographics, unemployment, tourism, charging-status and weather-warnings delegate to the per-city endpoints (identical behaviour incl. attribution). charging-status returns aggregates only in compare (points_omitted instead of the point list)."
     },
     {
      "in": "query",
      "name": "page",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "default": 1
      }
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "default": 50
      }
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      }
     },
     {
      "in": "query",
      "name": "sort",
      "schema": {
       "type": "string",
       "enum": [
        "city",
        "source_status"
       ]
      }
     },
     {
      "in": "query",
      "name": "order",
      "schema": {
       "type": "string",
       "enum": [
        "asc",
        "desc"
       ],
       "default": "asc"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities": {
   "get": {
    "operationId": "getCities",
    "summary": "Alle bekannten Städte auflisten",
    "description": "Listet die Einträge des Stadt-Registers: 84 deutsche Großstädte über 100.000 Einwohner, davon 28 Kern-Städte mit voller Quellen-Abdeckung. Jeder Eintrag trägt den Slug, den du als {slug}-Pfadparameter in allen weiteren Endpunkten verwendest.",
    "parameters": [],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}": {
   "get": {
    "operationId": "getCity",
    "summary": "Eine Stadt aus dem Register holen",
    "description": "Liefert den Register-Eintrag zur Stadt mit dem angegebenen {slug}. Ein unbekannter Slug löst den 404-Fehler-Envelope aus, dessen Hint auf die Stadt-Liste verweist.",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/overview": {
   "get": {
    "operationId": "getCityOverview",
    "summary": "Stadt-Überblick (Katalog aller Datenarten + Live-Highlights)",
    "description": "Ein-Aufruf-Überblick einer Stadt: Basisdaten, ein Katalog ALLER verfügbaren Datenarten (je mit Abdeckungsstatus und dem passenden MCP-Tool) sowie ein kleiner Live-Highlight-Snapshot (Wetter, Luft, Bahn-Abfahrten), parallel und zeitgedeckelt.",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/weather": {
   "get": {
    "operationId": "getCityWeather",
    "summary": "Wetter je Stadt (DWD über Bright Sky)",
    "description": "Aktuelle Wetter-Messwerte einer Stadt vom Deutschen Wetterdienst (über Bright Sky) im kanonischen Envelope. data trägt die Messwerte, attribution den GeoNutzV-Bearbeitungshinweis (modified=true).",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/pois": {
   "get": {
    "operationId": "getCityPois",
    "summary": "POIs je Stadt, nach Typ gefiltert (OSM, Tier B)",
    "description": "Liefert POIs einer Stadt aus OpenStreetMap im kanonischen Envelope, gefiltert nach dem Query-Parameter type. Der Typ wird gegen eine feste Liste geprüft; ein unbekannter Typ löst 422 aus.",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     },
     {
      "name": "type",
      "in": "query",
      "required": true,
      "description": "POI-Typ aus der erlaubten Liste (z.B. hospital, school, pharmacy).",
      "x-description-en": "POI type from the allowed list (e.g. hospital, school, pharmacy).",
      "schema": {
       "type": "string",
       "example": "hospital"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/transit": {
   "get": {
    "operationId": "getCityTransit",
    "summary": "ÖPNV-Haltestellen je Stadt (DELFI und HVV GTFS)",
    "description": "Normalisierte ÖPNV-Haltestellen einer Stadt aus dem bundesweiten DELFI-GTFS-Feed bzw. dem HVV-Feed im kanonischen Envelope. Die Daten werden offline aufbereitet und als Snapshot je Stadt gehalten, sodass der Abruf schnell antwortet, ohne den Feed pro Request zu parsen.",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     },
     {
      "name": "q",
      "in": "query",
      "required": false,
      "description": "Case-insensitiver Substring-Filter auf den Haltestellennamen (stop_name), z.B. alsterdorf.",
      "x-description-en": "Case-insensitive substring filter on the stop name (stop_name), e.g. alsterdorf.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "near",
      "in": "query",
      "required": false,
      "description": "\"lat,lon\"; liefert nur Haltestellen im Umkreis, aufsteigend nach Distanz sortiert. Ungültige Werte -> 400.",
      "x-description-en": "\"lat,lon\"; returns only stops within the radius, sorted by distance ascending. Invalid values -> 400.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "radius_m",
      "in": "query",
      "required": false,
      "description": "Suchradius für near in Metern (Default 1000).",
      "x-description-en": "Search radius for near in metres (default 1000).",
      "schema": {
       "type": "integer",
       "default": 1000
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "description": "Seitennummer der Default-Paginierung ohne q/near (Default 50 Einträge, Cap 200); meta.pagination weist total/returned/limit/offset/truncated aus.",
      "x-description-en": "Page number of the default pagination without q/near (default 50 entries, cap 200); meta.pagination reports total/returned/limit/offset/truncated.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "description": "Einträge pro Seite der Default-Paginierung ohne q/near (Default 50, Cap 200).",
      "x-description-en": "Entries per page of the default pagination without q/near (default 50, cap 200).",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/station-departures": {
   "get": {
    "operationId": "getCityStationDepartures",
    "summary": "Live-Abfahrtstafel Haupt-Bahnhof der Stadt, alle Gattungen (DB Timetables, Tier A)",
    "description": "Nächste Zugabfahrten am Haupt-Bahnhof der Stadt mit Echtzeit-Verspätung: Sollfahrplan (/plan) und aktuelle Abweichungen (/fchg) der DB-Timetables-API, je Bahnhof zu einer nach Abfahrt sortierten Liste zusammengeführt (line, category, destination, planned_time mit Zeitzone, platform...",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/stations/{eva}/departures": {
   "get": {
    "operationId": "getStationDepartures",
    "summary": "Live-Abfahrten eines beliebigen Bahnhofs per EVA, alle Gattungen (DB Timetables, Tier A)",
    "description": "Live-Abfahrtstafel JEDES DB-Bahnhofs über seine EVA-Nummer (aus GET /cities/{slug}/stations), inkl. Nahverkehr (alle Gattungen ICE/IC/RE/RB/S), Echtzeit-Verspätung und Störungen/Meldungen (messages je Eintrag). Quelle: Deutsche Bahn AG (CC BY 4.0).",
    "parameters": [
     {
      "name": "eva",
      "in": "path",
      "required": true,
      "description": "EVA-Nummer des Bahnhofs (6-8-stellige Zahl).",
      "schema": {
       "type": "string",
       "pattern": "^[0-9]{6,8}$",
       "example": "8000105"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/live/hamburg/departures": {
   "get": {
    "operationId": "getLiveHamburgDepartures",
    "summary": "Live-ÖPNV-Abfahrten Hamburg je Station (HVV-Geofox-GTI)",
    "description": "Liefert die Echtzeit-Abfahrtstafel einer HVV-Station aus der HVV-Geofox-GTI-API: je Abfahrt Linie, Richtung, Soll-Offset in Minuten, Verspätung in Sekunden und Linien-Störungshinweise. Stadt fix hamburg (Geofox deckt nur den HVV-Raum ab).",
    "parameters": [
     {
      "name": "station",
      "in": "query",
      "required": false,
      "description": "HVV-Stationsname (Default \"Hamburg Hauptbahnhof\").",
      "schema": {
       "type": "string",
       "default": "Hamburg Hauptbahnhof"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/live/nuernberg/departures": {
   "get": {
    "operationId": "getLiveNuernbergDepartures",
    "summary": "Live-ÖPNV-Abfahrten Nürnberg je Halt (VGN/VAG, keylos, Tier A)",
    "description": "Liefert die Echtzeit-Abfahrtstafel eines VGN-Halts aus der offenen, keylosen VAG-Puls-API (start.vag.de): je Abfahrt Linie, Richtung, Soll-Offset in Minuten, Verspätung in Sekunden und Produkt. Stadt fix nuernberg (VGN-Raum).",
    "parameters": [
     {
      "name": "stop_id",
      "in": "query",
      "required": false,
      "description": "Numerische VGN-Halt-ID (VGNKennung), Default \"510\" (Nürnberg Hbf).",
      "schema": {
       "type": "string",
       "default": "510"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/live/{slug}/departures": {
   "get": {
    "operationId": "getLiveVrrDepartures",
    "summary": "Live-ÖPNV-Abfahrten der VRR-Kernstädte + VVS Stuttgart je Station (Mentz-EFA, Tier C)",
    "description": "Liefert die Echtzeit-Abfahrtstafel einer Station in einer der sechs VRR-Kernstädte (duesseldorf, dortmund, essen, duisburg, bochum, wuppertal, keylose Mentz-EFA efa.vrr.de) oder in Stuttgart (VVS, keylose Mentz-EFA www3.vvs.de): je Abfahrt Linie, Richtung, Minuten bis zur Abfahrt und Verspätung...",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "description": "EFA-Verbund-Stadt-Slug: VRR-Kernstädte (duesseldorf, dortmund, essen, duisburg, bochum, wuppertal) oder VVS Stuttgart (stuttgart). Andere Städte liefern 404.",
      "schema": {
       "type": "string",
       "enum": [
        "duesseldorf",
        "dortmund",
        "essen",
        "duisburg",
        "bochum",
        "wuppertal",
        "stuttgart"
       ]
      }
     },
     {
      "name": "station",
      "in": "query",
      "required": false,
      "description": "Stationsname (Default Hauptbahnhof der Stadt).",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/live/{city}/transit/departures": {
   "get": {
    "operationId": "getLiveTransitDepartures",
    "summary": "Live-ÖPNV-Abfahrten je Halt mit Verspätung (GTFS-RT, Tier B)",
    "description": "Liefert die Live-Abfahrten eines Halts mit aktueller Verspätung aus dem GTFS-RT-Feed (gtfs.de bzw. Mobilithek-DELFI, CC-BY-SA = Tier B) im Live-Envelope (meta mit as_of und refresh_seconds=45, dem Poller-Takt).",
    "parameters": [
     {
      "name": "city",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "example": "berlin"
      },
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404."
     },
     {
      "name": "stop_id",
      "in": "query",
      "required": true,
      "description": "DELFI-Halt-ID im Muster de:<AGS>:<id> (gegen eine Allowlist geprüft). Gültige IDs je Stadt liefert GET /api/v1/cities/{slug}/transit im Feld stop_id. NICHT die trip_stop_id der Bahnhofstafeln, die bezeichnet einen Halt einer Zugfahrt.",
      "x-description-en": "DELFI stop ID in the pattern de:<AGS>:<id> (checked against an allowlist). Valid ids per city come from GET /api/v1/cities/{slug}/transit, field stop_id. NOT the trip_stop_id of the station boards, which denotes one stop of one train run.",
      "schema": {
       "type": "string",
       "example": "de:11000:900003101::6"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  },
  "/api/v1/cities/{slug}/{resource}": {
   "get": {
    "operationId": "getCityResource",
    "summary": "Beliebige Datenart einer Stadt abrufen (generisch)",
    "description": "Liefert jede Datenart einer Stadt im kanonischen Envelope {data, meta}. meta.source_status zeigt ok/no_data/not_covered/disabled. data.attribution (Lizenz/Quelle) bei Nennung immer wiedergeben.",
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "description": "German city slug from getCities (German spelling, e.g. koeln, muenchen, nuernberg, frankfurt-am-main, halle-saale). English exonyms like 'cologne' or 'munich' are INVALID and return 404.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "resource",
      "in": "path",
      "required": true,
      "description": "Data type key, e.g. air, parking, charging, demographics, events, road-events, fuel-prices, solar. Full per-city catalog with coverage status: getCityOverview(slug).",
      "schema": {
       "type": "string",
       "enum": [
        "accidents",
        "air",
        "air-uba",
        "base",
        "bathing-water",
        "bike-counts",
        "bike-parking",
        "business-registrations",
        "care",
        "charging",
        "charging-status",
        "childcare",
        "civil-protection-warnings",
        "construction",
        "council-papers",
        "crime-stats",
        "demographics",
        "district-heating",
        "drinking-water",
        "education",
        "education-stats",
        "election",
        "energy",
        "events",
        "fire-danger",
        "flood",
        "fuel-prices",
        "geo",
        "government-offices",
        "health",
        "heritage",
        "holidays",
        "hospitals-atlas",
        "indicators",
        "insolvencies",
        "integration",
        "labour-market",
        "land-values",
        "markets",
        "mobility-points",
        "municipal-finance",
        "office-wait-times",
        "overview",
        "parcel-lockers",
        "park-and-ride",
        "parking",
        "parking-onstreet",
        "playgrounds",
        "pollen-uv",
        "population-density",
        "population-structure",
        "population-trend",
        "post-boxes",
        "post-offices",
        "power-load",
        "power-price",
        "public-tenders",
        "public-toilets",
        "public-wifi",
        "recycling-centres",
        "road-events",
        "sharing",
        "social-situation",
        "solar",
        "solar-roofs",
        "station-arrivals",
        "station-departures",
        "station-facilities",
        "stations",
        "sustainability",
        "tax-rates",
        "tourism",
        "traffic",
        "transit",
        "tree-cadastre",
        "unemployment",
        "vehicle-registrations",
        "water-level",
        "weather",
        "weather-warnings",
        "webcams"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Kanonischer Envelope: data (Nutzlast mit attribution/Lizenz) und meta (source_status ok/no_data/disabled, cache_status)."
     },
     "404": {
      "description": "Unbekannte Stadt oder Ressource."
     },
     "429": {
      "description": "Rate-Limit erreicht, spaeter erneut versuchen."
     }
    }
   }
  }
 },
 "components": {
  "schemas": {}
 }
}